<section class= "grid container">
  <div class="unit whole">
    <p>Time to RSVP!!!</p>
    {{#if rsvpCode}}
      <h1>Code: {{rsvpCode}}</h1>
      <p>Is Attending: {{input type="checkbox" name="isAttendingBigDay" checked=isAttendingBigDay}}</p>
      {{#if isInvitedToRehearsalDinner}}
      <p>Is Rehearsal Dinner: {{input type="checkbox" name="isAttendingRehearsalDinner" checked=isAttendingRehearsalDinner}}</p>
      {{/if}}
      <p>
      Number of Wedding Attendees: {{numWeddingAttendees}}
      </p>
      {{#if isInvitedToRehearsalDinner}}
      <p>
      Number of Rehearsal Dinner Attendees: {{numRehearsalDinnerAttendees}}
      </p>
      {{/if}}
      <p>
        <h4>Attendees:</h4>
        <p>
          <table>
            <tr>
              <th>Is Attending Big Day?</th>
              {{#if isInvitedToRehearsalDinner}}
              <th>Is Attending Rehearsal Dinner?</th>
              {{/if}}
              <th>ID</th>
              <th>Name</th>
            </tr>

            {{#each contact in contacts}}
              <tr>
                <td>{{input type="checkbox" disabled=shouldDisableContactBigDayCheckboxes checked=contact.isAttendingBigDay}}</td>
                {{#if isInvitedToRehearsalDinner}}
                  <td>{{input type="checkbox" disabled=shouldDisableContactRehearsalDinnerCheckboxes checked=contact.isAttendingRehearsalDinner}}</td>
                {{/if}}
                <td>{{contact.id}}</td>
                <td>{{contact.fullName}}</td>
            {{else}}
              <td>No items found.</td>
            {{/each}}
          </table>
        </p>
      </p>

      <p>
      <button {{action "saveReservation"}}>Save</button>
      </p>
    {{else}}
      <p>There is no reservation with the submitted RSVP code.</p>
    {{/if}}

  </div>
</section>
