<section class= "grid container">
  <div class="unit whole">
    <p>Time to RSVP!!!</p>

    {{#if model.rsvpCode}}
      <h1>Code: {{model.rsvpCode}}</h1>
      <p>Is Attending: {{input type="checkbox" name="isAttending" checked=model.isAttending}}</p>
      <p>
        <h4>Attendees:</h4>
        <p>
          <table>
            <tr>
              <th>Is Attending?</th>
              <th>ID</th>
              <th>Name</th>
            </tr>
            {{#each model.contacts}}
              <tr>
                <td>{{input type="checkbox" name="contactIsAttending" checked=isAttending}}</td>
                <td>{{id}}</td>
                <td>{{firstName}} {{middleName}} {{lastName}}</td>
            {{else}}
              <td colspan="3">No items found.</td>
            {{/each}}
          </table>
        </p>
      </p>
    {{else}}
      <p>There is no reservation with the submitted RSVP code.</p>
    {{/if}}

      </div>
</section>
