<section class= "grid container rsvp">
  <div class="unit whole section-header">
    <h3 class="title">RSVP Attendees</h3>
  </div>
  {{#each contacts itemController="contact"}}
    <div class="grid">
      <div class="unit one-third"><input type="button" {{bind-attr value="isAttendingButtonText"}} {{action "setIsAttendingValue"}} /></div>
      <div class="unit one-third">{{input type="text" value=firstName size="25"}}</div>
      <div class="unit one-third">{{input type="text" value=lastName size="25"}}</div>
    </div>
  {{/each}}
  <div class="grid">
    <div class="unit whole">
      <input class="submit" type="submit" value="Back" {{action "previous"}}></input>
    </div>
  </div>
  <div class="grid">
    <div class="unit whole">
      <input class="submit" type="submit" value="Next" {{action "next"}}></input>
    </div>
  </div>
</section>
