<section class= "grid container">
  <div class="unit whole">
    <p>Time to RSVP!!!</p>

    {{#if model.rsvpCode}}
      <h1>Code: {{model.rsvpCode}}</h1>
      <p>Is Attending: {{input type="checkbox" name="isAttendingBigDay" checked=model.isAttendingBigDay}}</p>
      {{#if model.isInvitedToRehearsalDinner}}
      <p>Is Rehearsal Dinner: {{input type="checkbox" name="isAttendingRehearsalDinner" checked=model.isAttendingRehearsalDinner}}</p>
      {{/if}}
      <p>
      Number of Wedding Attendees: {{numWeddingAttendees}}
      </p>
      {{#if model.isInvitedToRehearsalDinner}}
      <p>
      Number of Rehearsal Dinner Attendees: {{numRehearsalDinnerAttendees}}
      </p>
      {{/if}}
      <p>
        <h4>Attendees:</h4>
        <p>
          <table>
            <tr>
              <th>Is Attending Big Day?</th>
              {{#if model.isInvitedToRehearsalDinner}}
              <th>Is Attending Rehearsal Dinner?</th>
              {{/if}}
              <th>ID</th>
              <th>Name</th>
            </tr>
            {{#each contact in model.contacts}}
              <tr>
                <td>{{input type="checkbox" checked=contact.isAttendingBigDay}}</td>
                {{#if model.isInvitedToRehearsalDinner}}
                  <td>{{input type="checkbox" checked=contact.isAttendingRehearsalDinner}}</td>
                {{/if}}
                <td>{{contact.id}}</td>
                <td>{{contact.firstName}} {{contact.middleName}} {{contact.lastName}}</td>
            {{else}}
              <td>No items found.</td>
            {{/each}}
          </table>
        </p>
      </p>
    {{else}}
      <p>There is no reservation with the submitted RSVP code.</p>
    {{/if}}

  </div>
</section>
