<section class="grid container rsvp">
  <div class="unit whole section-header">
    <h3 class="title">RSVP Attendance</h3>
  </div>
  <div class="grid">
    <div class="unit half">
      <input type="button" value="No, I Cannot Attend" {{ bind-attr class="notAttendingButtonCSSClass" }} {{ action "notAttending" }}></input>
    </div>
    <div class="unit half">
      <input type="button" value="Yes, I Am Attending" {{ bind-attr class="attendingButtonCSSClass" }} {{ action "attending" }}></input>
    </div>
  </div>
  <div class="grid">
    <div class="unit whole">
      <input class="submit" type="button" value="Cancel" {{action "previous"}}></input>
    </div>
  </div>
  <div class="grid">
    <div class="unit whole">
      <input type="button" {{ bind-attr class="nextButtonCSSClasses" value="nextButtonText" disabled="disableNextRouteButton" }} {{action "next"}}></input>
    </div>
  </div>
</section>
