<div class="grid">
  <div class="unit half">
    <input type="button" value="No, I Cannot Attend" {{ bind-attr class="notAttendingButtonCSSClass" }} {{ action "notAttending" }}></input>
  </div>
  <div class="unit half">
    <input type="button" value="Yes, I Am Attending" {{ bind-attr class="attendingButtonCSSClass" }} {{ action "attending" }}></input>
  </div>
</div>
<div class="grid">
  <div class="unit whole rsvp-navigate">
    <ul>
      <li><input class="submit previous cancel" type="submit" value="Cancel" {{action "previous"}}></input></li>
      <li><input class="submit next" type="submit" value="Next >" {{ bind-attr class="nextButtonCSSClasses" value="nextButtonText" disabled="disableNextRouteButton" }} {{action "next"}}></input></li>
    </ul>
  </div>
</div>
