<div class="attendees">
  <div class="grid">
    <div class="unit whole separator">
      <p>Please review the following guest names and select whether they will be attending or not.</p>
    </div>
  </div>

  {{#each contacts itemController="contact"}}
    <div class="grid">
      <div class="unit whole summary-section">
        <h5 class="sub-title"><span>{{guestName}}</span></h3>
        <p>
          <div class="left">
            Will be attending Wedding Reception?
          </div>
          <div class="right attending-buttons">
              <ul>
                <li>
                  <input type="button" value="Yes" {{bind-attr class=isAttendingBigDayBool:selected}} {{action "setIsAttendingBigDayValue"}} />
                </li>
                <li>
                  <input type="button" value="No"  {{bind-attr class=isAttendingBigDayBool::selected}} {{action "setNotAttendingBigDayValue"}} />
                </li>
            </div>
        </p>
        {{#if parentController.isInvitedToRehearsalDinner}}
          <p>
            <div class="left">
            Will be attending Rehearsal Dinner?
            </div>
            <div class="right attending-buttons">
              <ul>
                <li>
                  <input type="button" value="Yes" {{bind-attr class=isAttendingRehearsalDinnerBool:selected}} {{action "setIsAttendingRehearsalDinnerValue"}} />
                </li>
                <li>
                  <input type="button" value="No" {{bind-attr class=isAttendingRehearsalDinnerBool::selected}} {{action "setNotAttendingRehearsalDinnerValue"}} />
                </li>
            </div>
          </p>
        {{/if}}
        
        {{#if showNameEditControls}}
          <p>
            <div class="left">
              First Name:
            </div>
            <div class="right">
              {{input type="text" class="text-box" value=firstName disabled=disableControlsIfNotAttendingBigDay size="25"}}
            </div>
          </p>
          <p>
            <div class="left">
              Last Name:
            </div>
            <div class="right">
              {{input type="text" class="text-box" value=lastName disabled=disableControlsIfNotAttendingBigDay size="25"}}
            </div>
          </p>
        {{/if}}
      </div>
    </div>
  {{/each}}

  <div class="grid">
    <div class="unit whole rsvp-navigate">
      <ul>
      <li><input class="submit previous" type="submit" value="< Back" {{action "previous"}}></input></li>
      <li><input class="submit next" type="submit" value="Next >" {{action "next"}}></input></li>
      </ul>
    </div>
  </div>
</div>
